* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

}

body{
    font-size: 16px;
    text-align: center;
}

.grid-container{
    display: grid;
    height: 25rem;
    width: 25rem;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
}

.grid-item{
    border: 2px solid black ;
    height: 2rem;
    width: 2rem;
}

#display{
    display: flex;
    height: 95vh;
    width: 100%;
}

