* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

}

body{
    font-size: 16px;
    text-align: center;
}

.grid-container{
    display: grid;
    /* height: 25rem;
    width: 25rem; */
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    gap: 0;
    justify-content: space-between;
    margin: auto;
}

.grid-item{
    border: 2px solid black ;
    height: 2rem;
    width: 2rem;
    margin: auto;
}

.ship{
    background-color: gray;
}

.hit{
    background-color: red;
}

.miss{
    background-color: green;
}

#display{
    display: flex;
    height: 50vh;
    width: 100%;
}

